<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user,
      channels: @channels,
      direct_messages: @direct_messages
    ).html_safe %>
  <% end %>

  window.assets = {
    logo: "<%= asset_path('logo.png')%>",
    logoSq: "<%= asset_path('logo-sq.png')%>",
    logoSqSm: "<%= asset_path('logo-sq-sm.png')%>",
    logoSq35: "<%= asset_path('logo-sq-35.png')%>",
    bannerLogo: "<%= asset_path('chat.png')%>",

    iconOnline: "<%= asset_path('icon-online.png') %>",
    iconOffline: "<%= asset_path('icon-offline.png') %>",
    iconMemberCount: "<%= asset_path('icon-member-count.png') %>",

    landingPageImage: "<%= asset_path('landing-page.jpg')%>",
    landingPageVideoMP4: "<%= asset_path('landing-page.mp4')%>",
    landingPageVideoWEBM: "<%= asset_path('landing-page.webm')%>"
  }

  window.assetsUrl = {
    logoSq: "<%= asset_url('logo-sq.png')%>"
  }

</script>

<div id='root'></div>
