<script type="text/javascript">
  <% if logged_in? %>
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  <% end %>

  window.assets = {
    logo: "<%= asset_path('logo.png')%>",
    bannerLogo: "<%= asset_path('chat.png')%>",

    iconOnline: "<%= asset_path('icon-online.png') %>",
    iconOffline: "<%= asset_path('icon-offline.png') %>",
    iconMemberCount: "<%= asset_path('icon-member-count.png') %>",

    landingPageImage: "<%= asset_path('landing-page.jpg')%>",
    landingPageVideoMP4: "<%= asset_path('landing-page.mp4')%>",
    landingPageVideoWEBM: "<%= asset_path('landing-page.webm')%>"
  }
</script>

<div id='root'></div>
