<script type="text/javascript">
  <% if logged_in? %>
  window.currentUser = <%= render(
    "api/users/user.json.jbuilder",
    user: current_user
  ).html_safe %>
  <% end %>

  window.assets = {
    bannerLogo: "<%= asset_path('chat.png')%>",
    logo: "<%= asset_path('logo.png')%>",

    landingPageImage: "<%= asset_path('landing-page.jpg')%>",
    landingPageVideoMP4: "<%= asset_path('landing-page.mp4')%>",
    landingPageVideoWEBM: "<%= asset_path('landing-page.webm')%>"
  }
</script>

<div id='root'></div>
